<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@drawable/csg_logo"
        android:label="@string/app_name"
        android:roundIcon="@drawable/csg_logo"
        android:supportsRtl="true"
        android:theme="@style/Theme.CSG_VotingSystem"
        tools:targetApi="31">
        <activity
            android:name=".pages.view_voters"
            android:exported="false" />
        <activity
            android:name=".pages.vote_summary"
            android:exported="false" />
        <activity
            android:name=".pages.voting_pane"
            android:exported="false" />
        <activity
            android:name=".home_activity"
            android:exported="false" />
        <activity
            android:name=".splash_activity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>